@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
$ml-search-background-color: #FFE600;
$ml-background-color: #EEEEEE;
$ml-background-card-color: #fff;
$ml-shipping-color: #00ae9c;
$ml-buy-button-color: #3483fa;
$ml-remove-button-color: #2b5102;


$ml-size-list-title: 24px;
$ml-size-list-description: 18px;
$ml-size-list-address: 12px;


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $ml-background-color;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
